{% extends "base.html" %}
{% block content %}

<h4 class="mb-4">Analytics Dashboard</h4>

<div class="row g-4">

    <!-- BAR -->
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header fw-semibold">Bar Chart</div>
            <div class="card-body text-center">
                <img src="{{ bar_url }}" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- LINE -->
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header fw-semibold">Line Chart</div>
            <div class="card-body text-center">
                <img src="{{ line_url }}" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- PIE -->
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-header fw-semibold">Pie Chart</div>
            <div class="card-body text-center">
                <img src="{{ pie_url }}" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- SCATTER -->
    <div class="col-md-6 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header fw-semibold">Scatter Plot</div>
            <div class="card-body text-center">
                <img src="{{ scatter_url }}" class="img-fluid">
            </div>
        </div>
    </div>

    <!-- HEATMAP -->
    <div class="col-md-6 col-lg-6">
        <div class="card shadow-sm">
            <div class="card-header fw-semibold">Heatmap</div>
            <div class="card-body text-center">
                <img src="{{ heatmap_url }}" class="img-fluid">
            </div>
        </div>
    </div>

</div>

{% endblock %}